{% extends "template_nav.html"%}
{% block conteudo %}
  <div class="container mt-3">
    <div class="top-controls">
      <form method="get" action="{{ url_for('mostra_estoque') }}">
        <input id="search-field" type="text" name="search" placeholder="Buscar..." value="{{ request.args.get('search', '') }}">
        <button type="submit" class="btn-lupa">
          <img src="{{ url_for('static', filename='img/btn-lupa.png') }}" alt="Lupa" class="img-input">
        </button>
      </form>
      <a href="{{ url_for('exportar_estoque')}}"><button class="btn-control">Exportar Lista</button></a>
    </div>
    
    <div class="rounded">
      <table class="table mt-3">
        <thead class="text-center">
          <th scope="col">Código</th>
          <th scope="col">Unidade</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Descrição</th>
          <th scope="col">Modelo</th>
          <th scope="col">Fabricante</th>
          <th scope="col">Data/Hora</th>
          <th scope="col">Ações</th>
        </thead>
        <tbody>
        {% for material in materiais %}
          <tr class="{% if material.quantidade == 0 %} table-row-zero {% endif %}">
            <td class="text-center">{{ material.codigo }}</td>
            <td class="text-center">{{ material.unidade }}</td>
            <td class="text-center">{{ material.quantidade }}</td>
            <td>{{ material.descricao }}</td>
            <td class="text-center">{{ material.modelo }}</td>
            <td class="text-center">{{ material.fabricante }}</td>
            <td class="text-center">{{ material.data_hora }}</td>
            <td class="d-flex justify-content-center">
              <a href="{{ url_for('editar_material', codigo=material.codigo) }}"><button class="btn btn-primary">Editar</button></a>
            </td>
            <td>
              <a href="{{ url_for('deletar_material', codigo=material.codigo) }}"><button class="btn btn-danger" onclick="confirmDeletion(event)">Deletar</button></a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="pagination d-flex justify-content-center">
        {{ pagination.links }}
      </div>
    </div>
    <div class="bottom-controls">
      <a href="{{ url_for('novo_material')}}"><button class="btn-control">Adicionar Material</button></a>
      <a href="{{ url_for('entrada_saida')}}"><button class="btn-control">Entrada e Saída</button></a>
      <a href="{{ url_for('mostra_historico')}}"><button class="btn-control">Histórico</button></a>
    </div>
  </div>

{% endblock %}